@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #24292E;
}
h1 {
	color: #fff;
	text-align: center;
	font-size: 36px;
	font-family: "微软雅黑";
	margin-top: 80px;
	font-weight: normal;
}
.project_list {
	line-height: 36px;
	list-style: none;
	color: #fff;
	text-decoration: none;
}
.heads .name {
	float: right;
	padding-right: 80px;
	color: #333;
	font: 20px "微软雅黑";
	line-height: 80px
}

.pj_url {
	text-decoration: none;
	color: #fff;
	font: 26px "微软雅黑";
}




div.project {
	width: 250px;
	margin: 50px auto;
	height: auto;
	border-width:30px 4px 4px 4px;
	border-color: #fff;
	border-style:solid;
	border-color: white;
	padding: 40px 0px 160px 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.heads {
	width: max;
	height: 80px;
	background-color: #FFFFFF;
	padding-left: 200px;
	line-height: 80px;
}
.daohang { 
	padding-right: 80px;
}
.daohang .dh_url {
	text-decoration: none;
	color: #333;
	font: 30px "微软雅黑";
}
